<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="VATSIM Denver weather and winds" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>KDEN | vZDV</title>
  </head>
  <body class="text-slate-50 bg-slate-800 flex flex-col h-screen">
    <div class="pt-6 pb-10 w-10/12 mx-auto grow">
      <slot />
    </div>

    <footer class="container mx-auto h-10 px-4 flex items-center justify-between">
      <span class="text-sm text-gray-500">
        Not affiliated with any real-world aviation entity. Only for use on VATSIM.
      </span>
      <ul
        class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 sm:mt-0"
      >
        <li>
          <a
            href="https://zdvartcc.org/"
            class="mr-4 hover:underline md:mr-6">ZDV</a>
        </li>
        <li>
          <a
            href="https://github.com/Celeo/denver-overview"
            class="hover:underline"
            target="_blank">FOSS</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
